body {
    background: url('img/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.content{
display:block;
text-align: center;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched{
	border: 2px solid red;
}

input.[disabled="disabled"]{
	opacity: 0.4;
	cursor: not-allowed !important;
}



